@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  @apply box-border;
}

/*
  2. Remove default margin
*/
* {
  @apply m-0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  @apply h-full w-full;
  scrollbar-color: #fff;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  @apply leading-normal overflow-x-hidden;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  @apply block max-w-full;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply break-words;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  @apply isolate;
}

/*
  for no word warping
*/
@font-face {
  font-family: circular-light;
  src: url(../fonts/CircularStd-Light.otf);
}
@font-face {
  font-family: circular-mid;
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: circular-bold;
  src: url(../fonts/CircularStd-Bold.otf);
}
.main {
  /* @apply select-none; */
  @apply flex;
  flex-flow: column nowrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
}
.header {
  @apply inline-flex w-full h-[50px] justify-between items-center text-base px-[30px] py-[50px] lg:px-20 lg:py-[50px];
}
.header__logo {
  @apply hidden items-center h-5 cursor-pointer md:inline-flex md:items-center md:h-5;
}
.header__logo__txt {
  @apply text-[#0c0cffd1] font-bold md:hidden lg:block;
}
.header__menu {
  @apply hidden gap-4 h-10 text-[rgb(130,129,129)] font-medium md:inline-flex md:gap-4;
}
.header__menu__item {
  @apply leading-8 border-b-transparent border-b border-solid hover:text-[#0c0cffd1] hover:border-b-2 hover:border-b-[#0c0cffd1] hover:border-solid;
}
.header__btn {
  @apply bg-[#0c0cffd1] w-32 h-12 text-white text-base font-semibold rounded-[20px];
  background: var(
    --Gradint,
    linear-gradient(98deg, #06c 11.06%, #124fa2 87.56%)
  );
}
.header__btn:hover {
  @apply shadow-[0px_6px_14px_2px_rgba(9,91,184,0.18)];
  background: var(
    --Gradint,
    linear-gradient(98deg, rgb(2, 128, 255) 11.06%, #3585f5 87.56%)
  );
}
.home {
  @apply items-center w-full;
  @apply flex gap-8 items-center px-[50px] py-[25px] sm:gap-12 md:gap-8;
  flex-flow: column nowrap;
  background: url("./assets//Rectangle.svg") 50% / cover no-repeat;
}
.home__image__container__left {
  @apply duration-[0.5s] hover:translate-y-[-35px] hover:duration-[infinite];
  @apply h-[700px] w-[350px] shrink-0 hidden;
}
.home__image__container__right {
  @apply duration-[0.5s] hover:translate-y-[35px] hover:duration-[infinite];
  @apply h-[700px] w-[350px] shrink-0 hidden;
}
.home__image__small {
  @apply flex pt-5 sm:flex xl:hidden;
}
.home__image__left__small,
.home__image__right__small {
  @apply w-[200px] sm:w-[250px] md:w-[330px];
}
.home__content {
  @apply flex items-center xl:mt-[-15rem];
  flex-flow: column nowrap;
}
.home__content__announcement {
  @apply text-center;
  @apply flex items-center;
  flex-flow: column nowrap;
}
.home__content__announcement__header {
  @apply gap-4;
  @apply flex items-center;
  flex-flow: column nowrap;
}
.home__content__announcement__header__title {
  @apply flex items-center gap-4 text-[13.2px] font-medium text-[#929292] md:text-[1.3rem];
  flex-flow: row nowrap;
}
.home__content__announcement__header__txt {
  @apply flex items-center gap-[20px] text-[rgba(0,0,0,0.798)] xl:w-[700px];
  flex-flow: column nowrap;
}
.home__content__announcement__header__txt__one {
  @apply text-2xl font-bold;
}
.home__content__announcement__header__txt__two {
  @apply text-2xl font-bold;
}
.home__content__announcement__header__txt > svg {
  @apply self-end hidden;
}
.home__content__announcement__footer {
  @apply w-full flex justify-center text-sm;
  flex-flow: column nowrap;
}
.home__content__announcement__footer__txt {
  @apply w-full text-center font-semibold text-[#929292] p-5 md:w-full md:h-[190px] md:text-base md:font-semibold;
  word-wrap: break-word;
}
.home__content__button__container {
  @apply justify-center items-center pt-2.5;
  @apply flex gap-6;
  flex-flow: row wrap;
}
.home__content__button__left {
  @apply shrink-0;
  @apply flex h-[50px] justify-center items-center shadow-[0px_6px_14px_2px_rgba(9,91,184,0.18)] text-white text-[17px] shrink-0 px-[50px] py-[13px] rounded-[25px];
  background: var(
    --Gradint,
    linear-gradient(98deg, #06c 11.06%, #124fa2 87.56%)
  );
}
.home__content__button__left:hover {
  background: var(
    --Gradint,
    linear-gradient(98deg, rgb(2, 128, 255) 11.06%, #3585f5 87.56%)
  );
}
.home__content__button__right {
  @apply shrink-0;
  @apply flex h-[52px] justify-center items-center text-[rgb(170,170,170)] font-semibold text-[17px] shrink-0 px-[50px] py-3.5 rounded-[25px] border-2 border-solid border-[#BDBDBD] hover:text-black hover:border-2 hover:border-solid hover:border-[rgba(0,0,0,0.798)];
}
.summary {
  @apply flex justify-center gap-4 xl:gap-8;
  flex-flow: row wrap;
}
.summary__card {
  @apply bg-[#ffffff86] w-[220px] p-[15px] rounded-[10px] xl:w-[300px];
}
.summary__card__content {
  @apply flex gap-2.5;
}
.summary__card__content__icon__container {
  @apply bg-[rgba(208,229,250,0.644)] p-2.5 rounded-[20px];
}
.summary__card__content__icon__image {
  @apply w-10 xl:w-[50px];
}
.summary__card__content__txt {
  @apply flex gap-2.5;
  flex-flow: column wrap;
}
.summary__card__content__txt__info {
  @apply text-[1.1rem] font-bold xl:text-2xl;
}
.summary__card__content__txt__name {
  @apply text-[#0000007a] font-medium xl:text-[1.3rem];
}
.blog {
  @apply flex w-full;
  flex-flow: column nowrap;
}
.blog__container {
  @apply flex items-center p-5 xl:w-full xl:flex xl:items-center xl:gap-14 xl:px-[60px];
  flex-flow: column nowrap;
}
.blog__container__context {
  @apply flex items-center;
  flex-flow: column nowrap;
}
.blog__container__context__title {
  @apply text-[#000000e7] text-[1.55rem] font-bold xl:text-[2rem];
}
.blog__container__context__txt {
  @apply text-center text-[#000000a1] text-sm font-semibold p-[25px] xl:text-base;
}
.blog__container__video__container.two {
  @apply hidden xl:flex;
}
.courses {
  @apply gap-4;
  @apply flex items-center w-full pb-0 p-5;
  flex-flow: column nowrap;
  background: #edf1f5;
}
.course__title__content {
  @apply flex items-center text-center gap-6 px-10 py-[50px];
  flex-flow: column nowrap;
}
.course__title__container {
  @apply flex items-center gap-[1.8rem];
  flex-flow: row nowrap;
}
.course__title__container > svg {
  @apply w-[55px] xl:w-[110px];
}
.course__title {
  @apply shrink-0;
  @apply text-[#124FA2] text-2xl font-bold xl:text-[#124FA2] xl:text-[2.2rem] xl:font-bold;
}
.course__title__txt {
  @apply text-[rgba(0,0,0,0.411)] text-sm font-semibold xl:text-[rgba(0,0,0,0.411)] xl:text-base xl:font-semibold;
}
.courses__add__course {
  @apply text-xl mb-5;
  @apply flex h-[50px] justify-center items-center gap-1.5 shadow-[0px_6px_14px_2px_rgba(0,102,204,0.25)] text-white not-italic font-semibold leading-[normal] px-[40px] py-3.5 rounded-[25px];
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    linear-gradient(98deg, #06c 11.06%, #124fa2 87.56%);
}
.courses__add__course:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    linear-gradient(98deg, rgb(20, 134, 248) 11.06%, #227eff 87.56%);
}
.course__card_delete__icon {
  @apply w-full h-[30px] flex justify-start;
  
}

.course__card_delete__icon svg {
  @apply fill-[rgb(253,117,117)] hover:fill-[rgb(255,16,16)];
}
.course__cards__container {
  @apply flex w-full gap-8 overflow-x-scroll overflow-y-hidden scroll-smooth pl-8 pb-[30px] xl:justify-center xl:gap-6;
  flex-flow: row nowrap;
}
.course__card {
  @apply flex items-center w-[380px] shrink-0 bg-white gap-3 px-2.5 py-5 rounded-[10px] xl:w-[412px];
  flex-flow: column nowrap;
}
.course__card:hover {
  @apply translate-y-[15px] duration-[0.5s] cursor-pointer;
}
.course__card__image {
  @apply w-[340px];
}
.course__card__instructor {
  @apply flex items-center justify-between w-full gap-4 p-3;
  flex-flow: row nowrap;
}
.course__card__instructor__image {
  @apply w-20;
}
.course__card__instructor__info {
  @apply flex items-start w-full;
  flex-flow: column nowrap;
}
.course__card__instructor__name {
  @apply text-[#000000a1] font-bold text-[1.1rem] xl:text-[1.3rem];
}
.course__card__instructor__position {
  @apply text-[#000000ad] font-semibold text-sm xl:font-medium xl:text-[#00000070] xl:text-base;
}
.course__card__instructor__heart__sign {
  @apply flex justify-end w-[55px];
}
.course__card__instructor__heart__sign > svg:hover {
  @apply cursor-pointer fill-[red] border-transparent;
}
.course__card__course__info {
  @apply text-[#000000de] font-bold text-base leading-[1.8rem] px-3 py-2.5 xl:text-[#000000cb] xl:text-[1.2rem];
}
.course__card__course__rating-courseDuration {
  @apply flex justify-between w-full p-2.5;
  flex-flow: row nowrap;
}
.course__card__course__rating {
  @apply flex items-center gap-4;
  flex-flow: row nowrap;
}
.course__card__course__rating__stars__container {
  @apply flex;
  flex-flow: row nowrap;
}
.course__card__course__rating__stars__container > svg {
  @apply w-[21px];
}
.course__card__course__rating__score {
  @apply flex text-[#00000083] font-medium;
  flex-flow: row nowrap;
}
.course__card__course__duration {
  @apply flex items-center gap-[5px] text-[#00000091] font-medium text-[15px];
  flex-flow: row nowrap;
}
.course__card__line {
  @apply w-[calc(100%_-_30px)] h-px bg-[#00000038];
}
.course__card__sell {
  @apply flex w-full justify-between px-5 py-2.5;
  flex-flow: row nowrap;
}
.course__card__sell__price {
  @apply text-2xl not-italic font-bold leading-[normal] text-[#124FA2];
}
.course__card__sell__buy__btn {
  @apply flex h-[47px] justify-center items-center gap-1.5 shadow-[0px_6px_14px_2px_rgba(0,102,204,0.25)] text-white not-italic font-semibold leading-[normal] px-[34px] py-3.5 rounded-[25px];
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    linear-gradient(98deg, #06c 11.06%, #124fa2 87.56%);
}
.course__card__sell__buy__btn:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    linear-gradient(98deg, rgb(20, 134, 248) 11.06%, #227eff 87.56%);
}
.course__showButton__container {
  @apply flex justify-center items-center w-full h-[180px];
}
.course__showButton {
  @apply inline-flex gap-[5px] text-[#06C] font-bold px-[30px] py-[15px] rounded-[50px] border-2 border-solid border-[#06C];
}
.course__showButton:hover > svg {
  @apply translate-x-[5px] duration-[0.5s];
}
.instructors {
  @apply flex bg-[#3577D1] gap-16 pl-5 px-0 py-20;
  flex-flow: column nowrap;
  align-items: center;
}
.instructors__title__content {
  @apply flex items-center text-center gap-4;
  flex-flow: column nowrap;
}
.instructors__title__container {
  @apply flex items-center gap-[1.2rem];
}
.instructors__title__container > svg {
  @apply w-[60px] xl:w-[105px];
}
.instructors__title {
  @apply text-[#FF9900] text-[1.4rem] font-bold xl:text-[2rem];
}
.instructors__title__txt__container {
  @apply text-sm text-[#ffffffcb] xl:text-base;
}
.instructors__cards__container {
  @apply w-full flex overflow-x-scroll gap-4 pb-[60px] xl:justify-center xl:overflow-hidden;
}
.instructor__card {
  @apply flex items-center w-[335px] h-[h-full] bg-white shrink-0 gap-4 rounded-[20px] hover:translate-y-[15px] hover:duration-[0.5s] hover:cursor-pointer;
  flex-flow: column nowrap;
}

.instructor__Card_delete__icon {
  @apply w-full h-[30px] flex justify-start;
  position: relative;
  top: 3%;
  left: 3%;
  z-index: 2;
}

.instructor__Card_delete__icon svg {  
  @apply fill-[rgb(253,117,117)] hover:fill-[rgb(255,16,16)];
}

.instructor__Card__image__container {
  @apply w-full;
  
}
.instructor__Card__image {
  @apply w-full rounded-t-[20px];
  position: relative;
  top: -15.5%;
}
.instructor__Card__instructor__info {
  @apply flex items-center;
  flex-flow: column nowrap;
}
.instructor__info__name {
  @apply text-2xl font-bold text-[#646464];
}
.instructor__info__position {
  @apply text-[17px] font-medium text-[#6464647d];
}
.instructor__card__line {
  @apply w-[calc(100%_-_37%)] h-0.5 bg-[#90909077];
}
.instructor__card__followers-coursers {
  @apply flex justify-between w-full px-5 py-2.5;
}
.instructor__card__followers {
  @apply flex gap-[5px];
}
.instructor__card__followers__data {
  @apply text-[15px] font-medium text-[#6464647d];
}
.instructor__card__coursers {
  @apply flex gap-[5px];
}
.instructor__card__coursers__data {
  @apply text-[15px] font-medium text-[#6464647d];
}
.feedback {
  @apply flex xl:px-0 xl:py-10;
  flex-flow: column nowrap;
  background: var(--background-color, #f7f7f7);
}
.feedbacks__title__container {
  @apply w-full text-center pt-[60px] pb-5 px-[60px];
}
.feedbacks__title__container > svg {
  @apply hidden;
}
.feedbacks__title {
  @apply text-2xl font-bold text-[#06c];
}
.feedbacks__title__txt__container {
  @apply w-full text-center pb-5 px-[60px];
}
.feedbacks__title__txt {
  @apply text-sm font-semibold text-[rgba(52,52,52,0.424)];
}
.feedback__card__container {
  @apply flex overflow-x-scroll gap-4 px-5 py-[50px] xl:flex xl:justify-center xl:items-center xl:overflow-hidden xl:gap-4 xl:px-5 xl:py-[50px];
  flex-flow: row nowrap;
}
.feedback__Card {
  @apply flex w-[340px] shrink-0 border text-justify text-sm px-[30px] py-[35px] rounded-[20px] border-solid border-[#00000028] xl:w-[480px];
  flex-flow: column nowrap;
}
.feedback__Card__content {
  @apply flex gap-10 xl:flex xl:gap-10;
  flex-flow: column nowrap;
}
.feedback__Card__feedback__txt {
  @apply text-[#0000007c] font-semibold leading-6 xl:text-base;
}
.feedback__Card__author__container {
  @apply inline-flex gap-6;
}
.feedback__Card__author {
  @apply leading-6;
}
.feedback__Card__author__name {
  @apply font-bold text-lg text-[#00000096] xl:text-[19px];
}
.feedback__Card__author__position {
  @apply font-normal text-sm text-[#0000008e] xl:text-[15px];
}
.footer {
  @apply flex items-center bg-[#06c] gap-8 px-0 py-[60px];
  flex-flow: column nowrap;
}
.footer__contact {
  @apply flex items-center gap-[2.2rem];
  flex-flow: column nowrap;
}
.footer__contact__logo:hover {
  @apply cursor-pointer;
}
.footer__contact__social-links {
  @apply inline-flex items-center gap-[1.2rem] xl:pl-[100px];
}
.footer__contact__social-links > svg:hover {
  @apply fill-black cursor-pointer;
}
.footer__links {
  @apply inline-flex items-center justify-center w-[calc(100%_-_20%)] gap-16 xl:hidden;
}
.footer__links__right,
.footer__links__left,
.footer__links__mid {
  @apply flex text-center gap-2.5;
  flex-flow: column nowrap;
}
.footer__links__link {
  @apply text-[#ffffffbd] text-lg font-medium hover:text-[#fffffff3] xl:font-[normal] xl:text-[22px];
}
.footer__copyright {
  @apply inline-flex items-center justify-center bg-[#0F4185] w-full h-[90px] text-[#ffffffde] text-[1.1rem] font-semibold;
}
.footer__links.largeScreen {
  @apply hidden xl:flex xl:self-end;
}

/* Adding forms */
.instructors__add__instructor {
  @apply text-xl w-[auto] text-[#06c] self-center mb-5 hover:text-white;
  @apply flex h-[50px] justify-center items-center gap-1.5 shadow-[0px_6px_14px_2px_rgba(0,102,204,0.25)] text-white not-italic font-semibold leading-[normal] px-[40px] py-3.5 rounded-[25px];
  background: linear-gradient(
      0deg,
      rgba(231, 231, 231, 0.25) 0%,
      rgba(247, 244, 244, 0.25) 100%
    ),
    linear-gradient(98deg, rgb(234, 238, 241) 11.06%, #e0edff 87.56%);
    color: #06c;
}
.instructors__add__instructor:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    linear-gradient(98deg, rgb(20, 134, 248) 11.06%, #227eff 87.56%);
}
.courses__add__form__container,
.instructors__add__form__container {
  @apply fixed w-full h-full bg-[#0000008d] flex items-center justify-center left-0 top-[0%] z-[10]	;
  flex-flow: column nowrap;
  background-color: #000000b6;
  padding: 0rem 2rem;
}
.update_add{
  display: flex;
  gap: 2rem;
}
.update_icon svg {
  fill: #06c;
}


.update__icon svg,.update_add svg {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.update__icon > svg,.update_add> svg:hover {
  cursor: pointer;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.courses__add__form__container__close,
.instructors__add__form__container__close {
  @apply hidden z-[10]	;
}
.courses__add__form__course,
.instructors__add__form__course {
  @apply  p-2.5 rounded-[5px] z-[10]	;
  width: auto;
}
.courses__add__form__course::placeholder,
.instructors__add__form__course::placeholder {
  @apply pl-2.5;
}
.courses__add__form__title,
.instructors__add__form__title {
  @apply text-[2rem] text-white;
}
.courses__add__form,
.instructors__add__form {
  @apply flex gap-4 w-[100%] h-[calc(100%_-_40%)] bg-[rgba(255,255,255,0.288)] p-[35px] rounded-[20px];
  flex-flow: column;
}
.courses__add__form__button__container,
.instructors__add__form__button__container {
  @apply w-full h-[auto] flex justify-between items-start;
  gap: 5px;
}
.instructors__add__form__button__container {
  @apply mt-10;
}
.courses__add__form__button {
  @apply text-xl mb-5;
  @apply flex h-[50px] justify-center items-center gap-1.5 shadow-[0px_6px_14px_2px_rgba(0,102,204,0.25)] text-white not-italic font-semibold leading-[normal] px-[40px] py-3.5 rounded-[25px];
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    linear-gradient(98deg, #06c 11.06%, #124fa2 87.56%);
}
.instructors__add__form__button {
  @apply text-xl mb-5;
  @apply flex h-[50px] justify-center items-center gap-1.5 shadow-[0px_6px_14px_2px_rgba(0,102,204,0.25)] text-white not-italic font-semibold leading-[normal] px-[40px] py-3.5 rounded-[25px];
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    linear-gradient(98deg, #06c 11.06%, #124fa2 87.56%);
}
.courses__add__form__button,
.instructors__add__form__button:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    linear-gradient(98deg, rgb(20, 134, 248) 11.06%, #227eff 87.56%);
}

/* breakpoints */
@media (max-width: 500px) {
  .home__image__small {
    @apply flex w-full shrink;
    flex-flow: row wrap;
  }
  .home__image__left__small,
  .home__image__right__small {
    @apply block w-full shrink;
  }
  .home__content__announcement__header__txt {
    @apply gap-0;
  }
  .home__content__announcement__header__txt__one,
  .home__content__announcement__header__txt__two {
    @apply text-[1.2rem];
  }
  .course__cards__container {
    @apply items-center p-0;
  }
  .course__card {
    @apply w-[calc(100%_-_5%)];
  }
  .instructor__card {
    @apply w-[calc(100%_-_5%)];
  }

  .courses__add__form__title,
  .instructors__add__form__title {
    font-size: 1.3rem;
  }

  .courses__add__form, .instructors__add__form{
    width: auto;
    height: auto;
  }
   
}




@media (min-width: 768px) {
  .burger {
    @apply hidden;
  }
  .home__content__announcement__header__txt__one,
  .home__content__announcement__header__txt__two {
    @apply text-[2rem];
  }
}
@media (min-width: 1280px) {
  .home {
    flex-flow: row nowrap;
  }
  .home__image__left {
    @apply mt-20;
  }
  .home__image__container__left,
  .home__image__container__right {
    @apply h-[700px] block;
  }
  .home__content__announcement__header__txt__one,
  .home__content__announcement__header__txt__two {
    @apply text-[2.5rem];
  }
  .blog__container {
    flex-flow: row nowrap;
  }
  .blog__container__video__container {
    @apply hidden;
  }
  .blog__container__video {
    @apply w-[1800px] shrink-0;
  }
  .course__cards__container {
    @apply overflow-x-hidden;
    flex-flow: row wrap;
  }
  ::-webkit-scrollbar {
    @apply hidden;
  }
  .feedbacks__title__container {
    @apply flex justify-center items-center gap-8;
  }
  .feedbacks__title__container > svg {
    @apply block;
  }
  .feedbacks__title {
    @apply text-4xl font-bold text-[#06c];
  }
  .feedbacks__title__txt__container {
    @apply w-full text-center pb-5 px-[60px];
  }
  .feedbacks__title__txt {
    @apply text-lg font-semibold text-[rgba(52,52,52,0.424)];
  }
  .feedback__card__container {
    flex-flow: row nowrap;
  }
  .feedback__Card__content {
    flex-flow: column nowrap;
  }
  .footer {
    flex-flow: row nowrap;
  }
}
