@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  @apply box-border;
}

/*
  2. Remove default margin
*/
* {
  @apply m-0 whitespace-nowrap;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  @apply h-full w-full;
  scrollbar-color: #fff;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  @apply leading-normal overflow-x-hidden;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  @apply block max-w-full;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply break-words;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  @apply isolate;
}

/*
  for no word warping
*/
@font-face {
  font-family: circular-light;
  src: url(../fonts/CircularStd-Light.otf);
}
@font-face {
  font-family: circular-mid;
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: circular-bold;
  src: url(../fonts/CircularStd-Bold.otf);
}
.header {
  @apply inline-flex w-full h-[50px] justify-between items-center text-base px-[30px] py-[50px] lg:px-20 lg:py-[50px];
}
.header__logo {
  @apply hidden items-center h-5 cursor-pointer md:inline-flex md:items-center md:h-5;
}
.header__logo__txt {
  @apply text-[#0c0cffd1] font-bold md:hidden lg:block;
}
.header__menu {
  @apply hidden gap-4 text-[rgb(130,129,129)] font-medium md:inline-flex md:gap-4;
}
.header__menu__item {
  @apply leading-8 border-b-transparent border-b border-solid hover:text-[#0c0cffd1] hover:border-b-2 hover:border-b-[#0c0cffd1] hover:border-solid;
}
.header__btn {
  @apply bg-[#0c0cffd1] w-[115px] h-10 text-white text-base font-semibold rounded-[20px] hover:bg-[#1f1fffd1] hover:w-[116px] hover:h-[41px];
}

/* breakpoints */
@media (min-width: 768px) {
  .burger {
    @apply hidden;
  }
}
